<div class="row">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="../../admin/users">Users</a>
      </li>
      <li class="list-group-item">
        <a routerLink="../../admin/roles">Roles</a>   
      </li>
    </ul>
  </div>
  <div class="col">
    <p>
      <a routerLink="/admin/roles/novo-role" class="btn btn-primary">Novo Rol</a>
    </p>
    <p>
      <input 
      #query
      (keyup)="buscar(query.value)"  
      type="text" class="form-control" placeholder="Busqueda">
    </p>
    
    <data-table
      [items]="items"
      [itemCount]="itemCount"
      (reload)="reloadItems($event)"
    >
      <data-table-column
        [property]="'nome'"
        [header]="'Nome'"
        [sortable]="true"
        [resizable]="true"
      >
      </data-table-column>
      <data-table-column
        [property]="'$key'"
      >
        <ng-template #dataTableCell let-item="item">
          <a [routerLink]="['/admin/roles/novo-role', item.$key]" >Editar</a>
        </ng-template>
      </data-table-column>
    </data-table>
  </div>
</div>